<H1>Exchange Rates</H1>

<div *ngIf="currentExchangeCurrency">
    <div ><table border="1" width =50%>
    <thead>
      <tr>
        <th>GBP</th>
        <th>USD</th>
        <th>HKG</th>
    </tr>
      <tr>
          <td>{{result.GBP}}</td>
          <td>{{result.USD}}</td>
          <td>{{result.HKD}}</td>
          
      </tr>
    </thead>
     </table>
  </div>
</div>
  <br>
<br>
<br>
<br>




<div *ngIf="pastExchangeCurrency">

        <table border=1>
        <thead>
          <tr>
            <th *ngFor="let d of dates">
              {{d}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <td *ngFor="let col of row">
              {{col}}
            </td>
          </tr>
        </tbody>
      </table>
            
</div>
  